[*.cs]

# CS0108: Member hides inherited member; missing new keyword
dotnet_diagnostic.CS0108.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1305: Field names should not use Hungarian notation
dotnet_diagnostic.SA1305.severity = none
