hr {
    border: none;
    border-top: 3px ridge floralwhite;
    color: floralwhite;
    overflow: visible;
    text-align: center;
    height: 5px;
}

h2 {
    color: floralwhite;
    text-align: center;
}


p4 {
    text-decoration: underline;
    text-underline-position: under;
    text-align: center;
    color: floralwhite;
}

p1 {
    color: floralwhite;
    border: solid;
    border-color: floralwhite;
    padding: 2px;
}

img {
    border: solid;
    border-color: floralwhite;
    width: 50px;
}

.myCreatorName {
    margin-top: 10px;
}

.myCurrentBuildName{
    margin-bottom: 20px;
}
