@using LeagueOfLegendsChampions.Common
@{
    this.ViewData["Title"] = "Home Page";
}
@using LeagueOfLegendsChampions.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (this.SignInManager.IsSignedIn(this.User))
{
    <div class="row">
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Aatrox.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Aatrox</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Ahri.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Ahri</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Akali.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Akali</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Alistar.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Alistar</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Amumu.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Amumu</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Anivia.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Anivia</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Annie.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Annie</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Aphelios.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Aphelios</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Ashe.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Ashe</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/AurelionSol.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Aurelion Sol</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Azir.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Azir</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Bard.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Bard</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Blitzcrank.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Blitzcrank</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Brand.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Brand</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Braum.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Braum</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Caitlyn.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Caitlyn</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Camille.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Camille</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Cassiopeia.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Cassiopeia</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Chogath.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Cho'Gath</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Corki.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Corki</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Darius.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Darius</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Diana.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Diana</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/DrMundo.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Dr.Mundo</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Draven.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Draven</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Ekko.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Ekko</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Elise.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Elise</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Evelynn.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Evelynn</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Ezreal.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Ezreal</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Fiddlesticks.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Fiddlesticks</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Fiora.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Fiora</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Fizz.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Fizz</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Galio.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Galio</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Gangplank.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Gangplank</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Garen.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Garen</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Gnar.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Gnar</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Gragas.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Gragas</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Graves.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Graves</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Hecarim.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Hecarim</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Heimerdinger.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Heimerdinger</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Illaoi.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Illaoi</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Irelia.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Irelia</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Ivern.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Ivern</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Janna.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Janna</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/JarvanIV.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Jarvan IV</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Jax.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Jax</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Jayce.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Jayce</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Jhin.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Jhin</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Jinx.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Jinx</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kaisa.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Kai'Sa</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kalista.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Kalista</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Karma.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Karma</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Karthus.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Karthus</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kassadin.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Kassadin</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Katarina.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Katarina</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kayle.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Kayle</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kayn.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Kayn</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kennen.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Kennen</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Khazix.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Kha'Zix</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kindred.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Kindred</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kled.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Kled</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/KogMaw.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Kog'Maw</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Leblanc.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">LeBlanc</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/LeeSin.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Lee Sin</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Leona.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Leona</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Lillia.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Lillia</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Lissandra.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Lissandra</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Lucian.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Lucian</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Lulu.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Lulu</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Lux.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Lux</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Malphite.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Malphite</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Malzahar.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Malzahar</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Maokai.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Maokai</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/MasterYi.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Master Yi</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/MissFortune.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Miss Fortune</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Mordekaiser.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Mordekaiser</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Morgana.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Morgana</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Nami.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Nami</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Nasus.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Nasus</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Nautilus.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Nautilus</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Neeko.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Neeko</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Nidalee.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Nidalee</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Nocturne.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Nocturne</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Nunu.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Nunu</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Olaf.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Olaf</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Orianna.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Orianna</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Ornn.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Ornn</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Pantheon.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Pantheon</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Poppy.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Poppy</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Pyke.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Pyke</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Qiyana.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Qiyana</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Quinn.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Quinn</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Rakan.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Rakan</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Rammus.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Rammus</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/RekSai.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Rek'Sai</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Renekton.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Renekton</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Rengar.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Rengar</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Riven.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Riven</p>
            </a>
        </div>
        <div class="colomn" style="padding: 10px">
            <a asp-controller="Champions" asp-action="Add">
                <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Rumble.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                <p style="color:brown">Rumble</p>
            </a>
        </div>
    </div>
}
else
{
    <div class="text-center" style="position:absolute;top:250px">
        <h1 class="display-4" style="color:floralwhite">Welcome to @GlobalConstants.SystemName!</h1>
    </div>
    <div>
        <a button class="btn btn-light btn-lg" style="position:absolute;bottom: 300px;left: 600px" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
    <div>
        <a button class="btn btn-light btn-lg" style="position:absolute;bottom: 300px;right: 600px" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}