@using LeagueOfLegendsChampions.Common
@{
    this.ViewData["Title"] = "Home Page";
}
@using LeagueOfLegendsChampions.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (this.SignInManager.IsSignedIn(this.User))
{
    <h1 class="text-center" style="color:floralwhite">Choose your champion Summoner!</h1>
    <hr />

    <div class="col-md-4 col-md-offset-6" style="margin:auto">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Champion Name" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <hr />
    <div class="row">
            @for (int i = 0; i < 150; i++)
            {
                <div class="col-md-14">
                    <a asp-controller="Champions" asp-action="ById">
                        <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Aatrox.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                        <p class="text-center">Aatrox</p>
                    </a>
                </div>
            }
        </div>
    <hr />
    <hr />
    <hr />
}
else
{
    <div class="text-center" style="position:absolute;top:250px">
        <h1 class="display-4" style="color:floralwhite">Welcome to @GlobalConstants.SystemName!</h1>
    </div>
    <div>
        <a button class="btn btn-light btn-lg" style="position:absolute;bottom: 300px;left: 600px" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
    <div>
        <a button class="btn btn-light btn-lg" style="position:absolute;bottom: 300px;right: 600px" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}
