@using LeagueOfLegendsChampions.Common
@{
    this.ViewData["Title"] = "Home Page";
}
@using LeagueOfLegendsChampions.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (this.SignInManager.IsSignedIn(this.User))
{
    <h1 class="text-center" style="color:floralwhite">Choose your champion Summoner!</h1>
    <hr />

    <div class="col-md-4 col-md-offset-6" style="margin:auto">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Champion Name" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <hr />

    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="middle">
                <a asp-controller="Champions" asp-action="ById">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Aatrox.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Aatrox
                </a>
            </td>
            <td align="center" valign="middle">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Ahri.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Ahri
                </a>
            </td>
            <td align="center" valign="middle">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Akali.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Akali
                </a>
            </td>
            <td align="center" valign="middle">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Alistar.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Alistar
                </a>
            </td>
            <td align="center" valign="middle">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Amumu.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Amumu
                </a>
            </td>
            <td align="center" valign="middle">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Anivia.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Anivia
                </a>
            </td>
            <td align="center" valign="middle">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Annie.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Annie
                </a>
            </td>
            <td align="center" valign="middle">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Aphelios.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Aphelios
                </a>
            </td>
            <td align="center" valign="middle">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Ashe.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Ashe
                </a>
            </td>
            <td align="center" valign="middle">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/AurelionSol.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Aurelion
                </a>
            </td>
            <td align="center" valign="middle">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Azir.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Azir
                </a>
            </td>
            <td align="center" valign="middle">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Bard.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Bard
                </a>
            </td>
            <td align="center" valign="middle">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Blitzcrank.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Blitzcrank
                </a>
            </td>
            <td align="center" valign="middle">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Brand.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 87px;">
                    <br>Brand
                </a>
            </td>
        <tr>
        <tr>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Braum.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Braum
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Caitlyn.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Caitlyn
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Camille.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Camille
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Cassiopeia.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Cassiopeia
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Chogath.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Cho'Gath
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Corki.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Corki
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Darius.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Darius
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Diana.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Diana
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/DrMundo.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Dr.Mundo
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Draven.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Draven
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Ekko.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Ekko
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Elise.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Elise
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Evelynn.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Evelynn
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Ezreal.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Ezreal
                </a>
            </td>
        <tr>
        <tr>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Fiddlesticks.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Fiddlesticks
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Fiora.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Fiora
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Fizz.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Fizz
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Galio.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Galio
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Gangplank.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Gangplank
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Garen.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Garen
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Gnar.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Gnar
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Gragas.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Gragas
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Graves.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Graves
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Hecarim.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Hecarim
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Heimerdinger.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Heimerdinger
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Illaoi.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Illaoi
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Irelia.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Irelia
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Ivern.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Ivern
                </a>
            </td>
        <tr>
        <tr>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Janna.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Janna
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/JarvanIV.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>JarvanIV
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Jax.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Jax
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Jayce.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Jayce
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Jhin.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Jhin
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Jinx.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Jinx
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kaisa.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Kai'Sa
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kalista.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Kalista
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Karma.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Karma
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Karthus.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Karthus
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kassadin.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Kassadin
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Katarina.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Katarina
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kayle.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Kayle
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kayn.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Kayn
                </a>
            </td>
        <tr>
        <tr>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kennen.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Kennen
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Khazix.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Kha'Zix
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kindred.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Kindred
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Kled.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Kled
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/KogMaw.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Kog'Maw
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Leblanc.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>LeBlanc
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/LeeSin.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Lee Sin
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Leona.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Leona
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Lillia.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Lillia
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Lissandra.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Lissandra
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Lucian.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Lucian
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Lulu.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Lulu
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Lux.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Lux
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Malphite.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Malphite
                </a>
            </td>
        <tr>
        <tr>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Malzahar.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Malzahar
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Maokai.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Maokai
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/MasterYi.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Master Yi
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/MissFortune.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>M. Fortune
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Mordekaiser.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Mordekaiser
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Morgana.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Morgana
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Nami.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Nami
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Nasus.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Nasus
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Nautilus.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Nautilus
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Neeko.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Neeko
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Nidalee.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Nidalee
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Nocturne.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Nocturne
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Nunu.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Nunu
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Olaf.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Olaf
                </a>
            </td>
        <tr>
        <tr>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Orianna.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Orianna
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Ornn.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Ornn
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Pantheon.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Pantheon
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Poppy.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Poppy
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Pyke.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Pyke
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Qiyana.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Qiyana
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Quinn.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Quinn
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Rakan.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Rakan
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Rammus.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Rammus
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/RekSai.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Rek'Sai
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Renekton.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Renekton
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Rengar.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Rengar
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Riven.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Riven
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Rumble.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Rumble
                </a>
            </td>
        </tr>
        <tr>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Ryze.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Ryze
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Samira.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Samira
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Sejuani.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Sejuani
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Senna.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Senna
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Sett.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Sett
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Shaco.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Shaco
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Shen.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Shen
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Shyvana.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Shyvana
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Singed.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Singed
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Sion.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Sion
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Sivir.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Sivir
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Skarner.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Skarner
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Sona.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Sona
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Soraka.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Soraka
                </a>
            </td>
        </tr>
        <tr>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Swain.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Swain
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Sylas.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Sylas
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Syndra.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Syndra
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/TahmKench.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Tahm K.
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Taliyah.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Taliyah
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Talon.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Talon
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Taric.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Taric
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Teemo.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Teemo
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Thresh.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Thresh
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Tristana.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Tristana
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Trundle.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Trundle
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Tryndamere.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Tryndamere
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/TwistedFate.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Twisted F.
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Twitch.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Twitch
                </a>
            </td>
        </tr>
        <tr>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Udyr.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Udyr
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Urgot.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Urgot
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Varus.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Varus
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Vayne.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Vayne
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Veigar.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Veigar
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Velkoz.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Vel'Koz
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Vi.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Vi
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Viktor.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Viktor
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Vladimir.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Vladimir
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Volibear.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Volibear
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Warwick.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Warwick
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/MonkeyKing.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Wukong
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Xayah.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Xayah
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Xerath.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Xerath
                </a>
            </td>
        <tr>
        <tr>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/XinZhao.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Xin Zhao
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Yasuo.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Yasuo
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Yone.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Yone
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Yorick.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Yorick
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Yuumi.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Yuumi
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Zac.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Zac
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Zed.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Zed
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Ziggs.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Ziggs
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Zilean.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Zilean
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Zoe.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Zoe
                </a>
            </td>
            <td align="center" valign="bottom">
                <a asp-controller="Champions" asp-action="Add">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Zyra.png" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 75px;">
                    <br>Zyra
                </a>
            </td>
        <tr>
    </table>
    <hr />
    <hr />
    <hr />
}
else
{
    <div class="text-center" style="position:absolute;top:250px">
        <h1 class="display-4" style="color:floralwhite">Welcome to @GlobalConstants.SystemName!</h1>
    </div>
    <div>
        <a button class="btn btn-light btn-lg" style="position:absolute;bottom: 300px;left: 600px" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
    <div>
        <a button class="btn btn-light btn-lg" style="position:absolute;bottom: 300px;right: 600px" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}
