@model LeagueOfLegendsChampions.Web.ViewModels.Builds.BuildsListViewModel
@{
    ViewData["Title"] = "All";
}

<head>
    <link rel="stylesheet" href="~/css/allBuilds.css">
</head>
<body>
    <h2>@this.Model.ChampionName Builds:</h2>

    <hr>

    @foreach (var build in this.Model.Builds)
    {
        @foreach (var item in build.Items)
        {
            <img src="@item.ImageUrl" class="mr-3">
        }
        <hr>
    }

    <a type="button" class="btn btn-outline-white btn-lg btn-block" asp-controller="Builds" asp-action="Create">Create Build +</a>
</body>
