@model LeagueOfLegendsChampions.Web.ViewModels.Builds.BuildsListViewModel
@{
    ViewData["Title"] = "All";
}

<head>
    <style>
        hr {
            border: none;
            border-top: 3px ridge floralwhite;
            color: floralwhite;
            overflow: visible;
            text-align: center;
            height: 5px;
        }
    </style>
</head>
<body>
    <h2 style="color:floralwhite;text-align:center">ChampionName Builds:</h2>

    <hr>

    @foreach (var build in this.Model.Builds)
    {
        @foreach (var item in build.Items)
        {
            <img src="http://ddragon.leagueoflegends.com/cdn/10.20.1/img/champion/Aatrox.png" class="mr-3" style="width: 75px;">
        }
        <hr>

        <h1 style="color:floralwhite">All Builds</h1>

        <hr>
    }

    <button type="button" class="btn btn-outline-white btn-lg btn-block">Create Build +</button>
</body>
